<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <php>
        <const name="WEB_SERVER_HOST" value="localhost" />
        <const name="WEB_SERVER_PORT" value="1349" />
        <const name="WEB_SERVER_ROUTER" value="api.php" />
    </php>
</phpunit>
